@import url('./fonts.css');

:root {
  --color-green: #2ECC71;
  --color-black: #252525;
  --color-gray: #E5E5E54F;
}

.color-green
{
  color: var(--color-green);
}

.bg-green
{
  background: var(--color-green);
}

.bg-gray
{
  background: var(--color-gray);
}

.bg-black
{
  background: var(--color-black);
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
  height: 100%;
  
  font-family: 'Open Sans';
}

.font-700
{
  font-weight: 700;
}

.font-600
{
  font-weight: 600;
}

.font-400
{
  font-weight: 400;
}

.wrapper 
{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
        display: flex;
}

.nav-padding
{
  padding-top: 90px;
}

.col-wrapper-end
{
  display: flex;
  justify-content: flex-end;
}

.col-wrapper-center
{
  display: flex;
  justify-content: center;
}

.nav-menu
{
  display: flex;
  justify-content: space-between;
}

.div-padding
{
  padding: 1em;
}

.block-margin
{
  margin: 0 2em;
}

.items-margin
{
  margin: 1em 0;
}

.div-margin
{
  margin: 1em;
}

.btn
{
  font-weight: 600;
  padding: 8px 50px;
}

.btn-dark, .btn-hover:hover
{
  border: 2px solid var(--color-black);
}

.btn-hover:hover
{
  transition: all 0.7s ease;
  background: white;
  color: black;
}

.btn-hover-green
{
 border: 2px solid var(--color-green);
 background: var(--color-green);
 color: white;
}

.btn-hover-green:hover
{
  transition: all 0.7s ease;
  background: white;
  color: var(--color-green);
}

.pictures
{
  text-align: center;
}

img
{
  object-fit: cover;
  height: 100%;
}

.div-margin-auto
{
  margin: auto 0;
}
.center
{
  display: flex;
  justify-content: center;
}

.btn-wight
{
  width: 100%;
}


.size-margin
{
  min-height: 200px;
}

.flex-between
{
  justify-content: space-between;
}

.flex-column
{
  flex-direction: column;
}

.flex-form
{
 display: flex;
}

.text-form
{
  min-width: 100px;
}

.flex-end
{
  justify-content: flex-end;
}

.menu-xs
 {
   display: none; 
 }

.menu-button-xs
{
  color: green;
  cursor: pointer;
}

.footer-border
{
   border-top: 1px solid #4A4A4A;
}

.menu-button-xs:hover
{
  transition: all 0.7s ease;
  color: black;
}

@media (max-width: 576px) 
{
  .display-none
   {
     display:none;
   }
  
  .menu-xs
   {
     display: inline; 
   }
}

.menu-button-xs
{
  width: 30px;
  height: 30px;
}

a
{
  text-decoration: none;
}

header a
{
  color: black;
}

.card
{
  border: 1px solid var(--color-green);
}

.card h5, .card p
{
  text-align: center;
}

.footer-menu a
{
  color: white;
}

.container
{
  max-width: 1110px;
}

.container-narrow
{
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

.grid
{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}